<!DOCTYPE html>
    <%- include ('../partials/head'); %>

    <body class="container">

    <%- include ('../partials/header', {pagina: 'Sobre'}); %>
       
        <main>
            <div class="jumbotron">
                <h1>Sobre o Desenvolvedor</h1>
                <p>Olá! Sou desenvolvedor na Queen Developers e estou aprendendo os caminhos, passo a passo, tijolinho por tijolinho.</p>
                <p>Essa é a aula sobre Node.Js + EJS e vejam como ficou meu primeiro projeto!</p>
                <br>
               
                <h2 class="text-center"><strong>Q</strong>&clubs;</h2>
            </div>
        </main>
    <%- include ('../partials/footer'); %>

    </body>


</html>